[Unit]
Description=Caster Service Running in the Background
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/ubuntu/Caster_Service/Caster_Service
Restart=on-failure
RestartSec=5
User=ubuntu
WorkingDirectory=/home/ubuntu/Caster_Service
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=caster_service
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
